:root {

--Dark-cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);

--Very-dark-blue: hsl(212, 21%, 14%);
--Dark-grayish-blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);


--Font-size: 14px;
}

body {
  background-color: var(--Cream);
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--Font-size);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

.card {
  margin: 0 auto;

  border-radius: 1rem;
  width: 90%;
  max-width: 600px;
  overflow: hidden;
  display: flex;
  flex-flow: column wrap;
  font-family: 'Montserrat';
  font-weight: 700;
}

.card > img {
  width: 100%;
}

.card__details {
  background-color: var(--White);
  padding: 1.5rem;
  padding-top: 0.5rem;
}

.card__details > h3 {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-weight: 500;
}

.card__details > h1 {
  font-family: 'Fraunces';
  font-weight: 700;
  font-size: 2.25rem;
}

.card__details > p {
  color: var(--Dark-grayish-blue);
  line-height: 1.5rem;
}

.card__details > .price {
  color: var(--Dark-cyan);
  font-size: calc(var(--Font-size) * 2);
  font-weight: bold;
  font-family: 'Fraunces';
  padding: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
}

.card__details > .price > span {
  padding-left: 1.5rem;
  color: var(--Dark-grayish-blue);
  font-size: calc(var(--Font-size));
  font-weight: normal;
  font-family: 'Montserrat';
  text-decoration: line-through;
}

.card__details > button {
  background-color: var(--Dark-cyan);
  border: none;
  border-radius: 6px;
  padding: 1rem;
  width: 100%;
  color: var(--White);

  display: flex;
  justify-content: center;
  align-items: center;
}

.card__details > button > img {
  padding-right: 1rem;
}

@media (min-width: 1440px) {

  .card {
    min-width: 700px;
    display: flex;
    flex-flow: row;
  }

  .card > img {
    width: 50%;
    object-fit: cover;
    object-position: center;
  }
  .img-container {
    width: 50%;
    background-color: black;

    width: 100%;
    background-image: url( './images/image-product-mobile.jpg');
    background-size: none;
    background-position: center;
    background-repeat: no-repeat;

    width: 50%;
    background-size: cover;
    background-position: center;
  }

  .card__details {
    width: 50%;
    overflow: auto;
  }
}